@using Vidly.Models
<div class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            @*@if (Request.IsAuthenticated && this.User.IsInRole(RoleName.CanManageCustomers))
            {*@
                <li class="nav-item">@Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "nav-link" })</li>
            @*}*@
            @if (Request.IsAuthenticated && this.User.IsInRole(RoleName.CanManageMovies))
            {
                <li class="nav-item">@Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "nav-link" })</li>
            }
            <li class="nav-item">@Html.ActionLink("New Rental", "New", "Rentals", new { area = "" }, new { @class = "nav-link" })</li>


            @*<li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "Home" }, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "Home" }, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "Home" }, new { @class = "nav-link" })</li>*@
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>
